* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --sidebar-width: 300px;
  --topbar-height: 60px;
  --progress: 20%;
}

.row {
  flex-direction: row;
}
.column {
  flex-direction: column;
}

.topbar {
  width: 100%;
  height: 60px;
  background-color: green;
  box-shadow: 0 1px 5px 0.5px rgb(199, 198, 198);
  position: fixed;
  z-index: 1;
}

.sidebar {
  height: 100vh;
  width: 300px;
  background-color: green;
  position: fixed;
  z-index: 2;
}

.main {
  background-color: rgb(255, 255, 255);
  margin-left: var(--sidebar-width);
  margin-top: var(--topbar-height);
  position: absolute;
  z-index: 0;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
h3 {
  font-size: 20px;
  font-weight: normal;
}
.row .col {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}
.row .col .salesgraph-panel {
  height: 450px;
  width: 1020px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgb(206, 205, 205);
  padding: 10px;
}
.salesgraph-panel .head {
  display: flex;
  justify-content: space-between;
}
.salesgraph-panel .head .date-filter {
  font-size: 50px;
  padding: 50px;
}
.chart-container {
  height: 400px;
}

/* Sale Panel*/
.row .col .sale-panel {
  height: 190px;
  width: 530px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgb(206, 205, 205);
  padding: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
}
.indicator-label {
  display: flex;
  width: 90%;
  justify-content: space-between;
  font-size: 25px;
  font-style: normal;
  margin: 0 auto;
}

.progressbar {
  width: 90%;
  height: 10px;
  background-color: grey;
  position: relative;
  margin: 0 auto;
}
.progressbar::after {
  content: "";
  background-color: green;
  height: 10px;
  width: var(--progress);
  position: absolute;
  transition: all 1s ease-in-out;
}

.progressbar .indicator-cricle {
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: var(--progress);
  transition: all 1s ease-in-out;
}
.sale-panel .notes {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
/* Sale Panel */

/* Open Order Panel */
.row .col .order-panel {
  height: 190px;
  width: 530px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgb(206, 205, 205);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#openOrder {
  font-size: 50px;
}
.order-panel .notes {
  font-size: 13px;
}
.viewOpenOrders {
  padding: 5px 10px;
  background-color: green;
  width: 100px;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin-left: auto;
}

/* Open Order Panel */

/* Incoming Delivery Panel */
.row .col .incoming-panel {
  height: 460px;
  width: 410px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgb(206, 205, 205);
  padding: 10px;
}

.incoming-panel table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.incoming-panel table tr td {
  padding: 10px 0;
  color: rgb(113, 111, 111);
}
.incoming-panel table tr td {
  border-bottom: 1px solid rgb(214, 213, 213);
  vertical-align: top;
}
.incoming-panel table tr td p:nth-child(2) {
  font-size: 12px;
  color: grey;
  padding: 5px 0;
}
/* Incoming Delivery Panel */

/* Reminder Panel */
.row .col .reminder-panel {
  height: 460px;
  width: 410px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgb(206, 205, 205);
  padding: 10px;
}
.reminder-panel table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
}
.reminder-panel table tr td {
  padding: 10px 0;
}
.reminder-panel table tr td {
  border-bottom: 1px solid rgb(214, 213, 213);
  vertical-align: top;
}
.reminder-panel table tr td p:nth-child(2) {
  font-size: 12px;
  color: grey;
  padding: 5px 0;
}
/* Reminder Panel */

/* Outgoing Delivery Panel */
.row .col .outgoing-panel {
  height: 460px;
  width: 700px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px 2px rgb(206, 205, 205);
  padding: 10px;
}
.outgoing-panel table {
  margin-top: 30px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
.outgoing-panel table tr td {
  padding: 10px 0;
  color: rgb(113, 111, 111);
}
.outgoing-panel table tr td {
  border-bottom: 1px solid rgb(214, 213, 213);
  vertical-align: top;
}
.outgoing-panel table tr td p:nth-child(2) {
  font-size: 12px;
  color: grey;
  padding: 5px 0;
}
/* Outgoing Delivery Panel */
